body {
    background-color: #424242;
    font-family: Georgia, 'Times New Roman', serif;
    color: #FFF;
}
h1 {
    text-align: center;
}
img {
    width: 250px;
    height: auto;
}
p, li {
    font-size: 20px;
}
.bold {
    font-weight: bold;
}